body {
    margin:0;
    padding:0;
    background: #F1DAC4;

}
.name {
    width: 100%;
    height: 300px;
    background: #161B33;
    transform: skewY(-5deg);
}

.name .content {
    width: 50%;
    height: 50%;
    position: absolute;
    left:25%;

}

.name .content .p-1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 65px;
    transform: skewY(5deg);
    margin-bottom: 0;
}

.name .content .p-2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    transform: skewY(5deg);
    margin-top: 0;
    margin-bottom: 0;
}

.name .img {
    position: absolute;
    top: 18%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skewY(5deg);
    overflow: hidden;

}

.name .img img {
    width: 190px ;
    height: 225px ;

}

.info {
    width: 90%;
    height: auto;
    background: #161B33;
    margin:5% auto;
    padding: 20px;
    border-radius: 20px;
}

.info .tituloSeccion {
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px white dashed;
}

.info .tituloInfo {
    color: #60b4b3;
    font-family:  'Helvetica', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;

}

.info .infoInfo {
    color: white;
    font-family:  'Helvetica', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;


}

.info span {
    display: inline-block ;
    width: auto;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
    background: #61304B;
    color: #ACF7C1;
    font-family: 'Tahoma', sans-serif;
    border-radius: 5px;
}

.imagenes { 
    transition: transform 0.3s ease;

}

.imagenes:hover {
    transform: scale(1.5);
}




